@import '../../node_modules/@fancyapps/ui/dist/fancybox/fancybox';
@import '../../node_modules/swiper/swiper-bundle';

@import 'base/fonts';
@import 'base/vars';
@import 'base/mixins';
@import 'base/reset';
@import 'base/containers';
@import 'base/sticky-footer';
@import 'base/base';
@import 'base/titles';


@import './components/accordion.scss';


@import 'blocks/header';
@import 'blocks/quiz';
@import 'blocks/modals';


@import 'blocks/footer';



