/* Reset and base styles  */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    outline: none;
}

/* Links */

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* Common */


ul,
ul li {
    list-style: none;
}

img {
    display: block;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

label {
    cursor: pointer;
}

button{
    background-color: transparent;
    border: none;
}

picture {
  width: 100%;
}