._title {
  font-family: var(--font-default);
  font-weight: 500;
  font-size: 52px;
  line-height: calc(60/52*100%);
  text-align: center;
  margin-bottom: 70px;


  @include xl {
    font-size: 46px;
    margin-bottom: 50px;
  }

  @include lg {
    font-size: 38px;
    margin-bottom: 30px;
  }

  @include md {
    font-size: 30px;
    margin-bottom: 20px;

    br {
      display: none;
    }
  }

  @include sm {
    font-size: 28px;
  }

  span {
    color: var(--primary);
  }
}
._title-light {
  font-family: var(--font-default);
  font-weight: 500;
  font-size: 52px;
  line-height: calc(60/52*100%);
  text-align: center;
  margin-bottom: 70px;
  color: var(--light-color);


  @include xl {
    font-size: 46px;
    margin-bottom: 50px;
  }

  @include lg {
    font-size: 38px;
    margin-bottom: 30px;
  }

  @include md {
    font-size: 30px;
    margin-bottom: 20px;

    br {
      display: none;
    }
  }

  @include sm {
    font-size: 28px;
  }

  span {
    color: var(--primary);
  }
}

._subtitle {
  font-weight: 400;
  font-size: 26px;
  line-height: calc(34/26*100%);
  text-align: center;
  color: var(--default-color);
  margin-bottom: 70px;

  @include xl {
    margin-bottom: 50px;
  }

  @include lg {
    font-size: 24px;
    margin-bottom: 30px;

    br {
      display: none;
    }
  }

  @include md {
    margin-bottom: 20px;
  }

}