.header {
  position: absolute;
  background-color: var(--light-color);
  max-width: 1245px;
  width: 100%;
  margin: 18px auto 0;
  border-radius: 14px;
  background-color: #F3F3F3;
  padding: 11px 22px;
  left: 0;
  right: 0;


  @include lg {
    padding: 10px 0;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    display: grid;
    gap: 8px;

    &:nth-child(2) {
      @include lg {
        display: none;
      }
    }

    @include xs {
      gap: 5px;
    }
  }

  &__item-top {
    display: flex;
    align-items: center;
    gap: 12px;

    @include lg {
      gap: 8px;
    }
  }

  &__item-mail {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(28/20*100%);
  }

  &__item-tel {
    font-weight: 500;
    font-size: 26px;
    line-height: calc(28/20*100%);

    @include lg {
      font-size: 20px;
    }

    @include xs {
      font-size: 18px;
    }
  }

  &__item-link {
    margin-left: 34px;
  }

  &__item-bottom {
    margin-left: 26px;

    @include xs {
      font-size: 14px;
    }
  }

}