.politics-modal {
  border-radius: 20px;

  max-width: 600px !important;
  background-color: var(--page-bg) !important;
  color: var(--default-color) !important;

  &__title {
    font-size: 28px;
    line-height: 120%;
    text-align: center;
    margin-bottom: 20px;

    @include sm {
      font-size: 24px;
      margin-bottom: 15px;
    }
  }

  &__text {
    display: grid;
    gap: 15px;

    @include sm {
      gap: 8px;
    }
  }
}

.modal {
  border-radius: 20px;
  background-color: var(--page-bg);

  &__callback {
    max-width: 400px;
    width: 100%;
  }

  &__callback-title {
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.2;
  }

  &__callback-subtitle {
    text-align: center;
    margin-bottom: 30px;
  }

  &__callback-inner {
    display: grid;
    gap: 15px;
  }

  &__callback-btn,
  &__callback-inp {
    height: 80px;
  }

}

#quiz-modal.quiz-block {

  &__inner {
    width: 100%;
    padding: 40px 0;
  }

}